In [ ]:
import pandas as pd

In [ ]:
teacher_dict = {
    "teacher_id": [1, 1, 1, 2, 2, 2, 2],
    "subject_id": [2, 2, 3, 1, 2, 3, 4],
    "dept_id": [3, 4, 3, 1, 1, 1, 1]
}

teacher = pd.DataFrame(teacher_dict)

In [ ]:
teacher.groupby(['teacher_id']).size().reset_index(name='counts')

In [ ]:
teacher_series = teacher.groupby('teacher_id')['subject_id'].nunique()

In [ ]:
teacher_series

In [ ]:
pd.DataFrame({'teacher_id':teacher.index})

   teacher_id
0           0
1           1
2           2
3           3
4           4
5           5
6           6